@font-face {
    font-family: "MyFont";
    src: url("fonts/MyFont.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

/* =========================
   ВИДЕО (по умолчанию скрыто)
========================= */

#bgVideo {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    z-index: -1;

    opacity: 0;
    filter: brightness(0);

    transition: opacity 3s ease, filter 3s ease;
}

/* класс включения видео */
#bgVideo.show {
    opacity: 1;
    filter: brightness(1);
}

/* =========================
   ТАЙМЕР
========================= */

.overlay {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 12vh;
}

#timer {
    opacity: 0;
    transition: opacity 2s ease;

    font-family: "MyFont", sans-serif;
    font-size: 110px;
    color: #fff;

    text-align: center;

    letter-spacing: 6px;

    text-shadow:
        0 0 10px rgba(255,255,255,.4),
        0 0 30px rgba(255,255,255,.25),
        0 0 80px rgba(0,0,0,.9);
}

#timer.show {
    opacity: 1;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {
    #timer {
        font-size: 60px;
        letter-spacing: 3px;
    }
}
